{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Site</title>
    <style>
        a#t03 {
            font-size: 20px;
            color: cornflowerblue;
        }
        div#t04 {
            color: darkred;
            font-size: large;
        }
    </style>
  </head>
  <body>
  	<header>
  		{%if request.user.is_authenticated %}
  			<a id="t03" href="{% url 'contacts' %}">Contacts</a>
            <span>  _  </span>
  			<a id="t03" href="{% url 'new_contact' %}">New Contact</a>
            <span>  _  </span>
  			<a id="t03" href="{% url 'logout' %}">Logout</a>
            <br>
            <span> {{  request.user.username }}</span>
        {%else%}
  			<a id="t03" href="{% url 'login' %}">Login</a>
            <span>  _  </span>
  			<a id="t03" href="{% url 'register' %}">Register</a>
  		{%endif%}
  	</header>
  	<main>
        <br>
	  	{% if messages %}
			<div id="t04" class="messages">
			{% for message in messages %}
				<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
					{{ message }}
				</div>
			{% endfor %}
			</div>
		{% endif %}

	    {%block content%}
	    {%endblock content%}
  	</main>

  </body>
</html>
