{% extends 'base.html' %}


{% block content %}
<head>
    <style>
        table,
        th,
        td#t05 {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
            text-align: left;
        }

        table#t01 {
            width: 100%;
            background-color: #f2f2d1;
        }
        th#t02{
            color: teal;
            font-size: 30px;
        }
    </style>
</head>

<body>
<h1>Members</h1>
<table style="width:100%" id="t01">
        <tr>
            <th id="t02">First Name</th>
            <th id="t02">Last Name</th>
            <th id="t02">Number</th>
            <th id="t02">Address</th>
            <th id="t02">Actions</th>
        </tr>
    {% for contact in contacts %}
        <tr>
            <td id="t05">{{ contact.first_name }}</td>
            <td id="t05">{{ contact.last_name }}</td>
            <td id="t05">{{ contact.number }}</td>
            <td id="t05">{{ contact.address }}</td>
            <td id="t05">
                <table style="border-style:none;">
                    <tr>
                        <td><a href="{% url 'edit_contact' contact.id %}">edit</a></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'delete_contact' contact.id %}">delete</a></td>
                    </tr>
                </table>
            </td>
        </tr>
      {% endfor %}
    </table>
</body>

{% endblock content%}